/* Estilo CSS da página Week Food */
body {
    margin: 0px 0px 36px 0px ;
padding: 0;
background-color:#151515;
}

/* Imagem hero */
.background-hero {
    background: url(../img/background-hero.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
}

/* Logomarca week food */
.logo {
    position: absolute;
    width: 125px;
    height: 141.75px;
    left: 9.03%;
    top: 66px;
}

/* Frase inicial */
.container p{
    position: absolute;
    left: 9.03%;
    top: 220px;
    bottom: 83.68%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    color: #FFFFFF;
}

/* Frase principal h1 */
.container h1{
    position: absolute;
    left: 9.03%;
    top: 45%;
    bottom: 75.48%;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 800;
    font-size: 44.8276px;
    line-height: 55px;
    color: #F9C200;
}

/*Formulário de pré inscrição*/
.form-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label-hero {
    position: absolute;
    width: 452px;
    height: 20px;
    left: 9.03%;
    top: 580px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.input-hero[type="email"] {
    position: absolute;
    width: 22%;
    height: 41px;
    left: 9.03%;
    top: 620px;
    background: #FFFFFF;
    border-radius: 16px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-left: 12px
}
.input-hero[type="email"]::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #c5c5c5;
}
.button-hero[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    position: absolute;
    left: 33%;
    top: 620px;
    color: #FFFFFF;
    background: #A80000;
    border-radius: 16px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
.button-hero[type="submit"]:hover{
    background: #F9C200;
    color: #A80000;
    cursor: pointer;
}

/*Sessão de funcionalidades */
.funcionalities{
    height: 800px;
    background-color: #F9C200;
}
.mockup {
position: absolute;
width: auto;
height: 672px;
left: 16%;
padding-top: 56px;

}
.funcionalities h2{
    position: absolute;
    right: 14.03%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 41px;
    color: #FFFFFF;
    padding-top: 32px;
}
.funcionalities h3{
    position: absolute;
    right: 28%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #A80000;
    padding-top: 140px;
}
.funcionalities ul{
    position: absolute;
    width: 364px;
    height: 520px;
    right: 23%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    padding-top: 200px;
    color: #830202;  
}

/*footer */
footer {
    background-color: #A80000;
    color: #fff;
    margin-top: auto;
    height: 360px;
  }

/*Fotter - Formulário */ 
footer form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 500px;
}
footer label{
position: absolute;
width: 357px;
height: 60px;
left: 9.03%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
margin-top: 186px;
}  
footer input[type="email"] {
    position: absolute;
    width: 416px;
    height: 41px;
    left: 9.03%;
    background: #FFFFFF;
    border-radius: 16px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-left: 12px;
    margin-top: 360px;
}
footer button[type="submit"] {
padding: 8px 16px;
border: none;
position: absolute;
width: 228px;
height: 43px;
left: 9.03%;
background: #F9C200;
border-radius: 16px;
cursor: pointer;
margin-top: 466px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #A80000;
}

/* Footer -  Redes sociais */
.container-footer h2{
position: absolute;
right: 9.03%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24.8px;
line-height: 30px;
color: #FFFFFF;
margin-top: 52px;
}
.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 9.03%;
    margin-top: 86px;
}
.social-icons li {
    margin: 0 10px;
} 
.social-icons a {
    color: #fff;
    font-size: 36px;
} 
.social-icons a:hover {
    color: #c3c3c3;
}

/* Footer - Dúvidas e Parcerias */
.container-footer h3{
    position: absolute;
    right: 9.03%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24.8px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 190px;
}
.container-footer h6{
        position: absolute;
        right: 9.03%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        margin-top: 228px;
}

/* Footer - Direitos Reservados */
.container-footer h5{
position: absolute;
left: 40%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
color: #FFFFFF;
margin-top: 370px;
inline-size: auto;
}


/* Responsividade - Mobile First */

/* TABLET */
@media only screen and (max-width: 768px) {
.background-hero {
    background: url(../img/background-hero-tablet.jpg);
    background-size: cover;
    width:100%;
    align-items: stretch;
}
.container {
    padding: 0px;
}   
.logo {
    position: absolute;
    width: 125px;
    height: 141.75px;
    left: 9.03%;
    top: 66px;
}
.container p {
    position: absolute;
    margin-top: 24px;
}
.container h1 {
    position: absolute;
    font-size: 28px;
    line-height: 34px;
}   
/* Form */
form {
    margin-top: 48px;
}
/* label do imput */
label {
    position: absolute;
    top: 600px;
    text-align: left;
}
input[type="email"] {
    position: absolute;
    width: 380px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    top: 660px;
}
input[type="email"]::placeholder {
    color: #c5c5c5;
}
button[type="submit"] {
    position: absolute;
    top: 660px;
}
.mockup {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}
.funcionalities h2 {
    position: static;
    width: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    margin-top: 48px;
    margin-bottom: 24px;
}
.funcionalities h3 {
    position: static;
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    margin-top: 48px;
}
.funcionalities ul {
    position: static;
    width: 100%;
    height: auto;
    margin-top: 24px;
    margin-bottom: 48px;
    padding-left: 24px;
    padding-right: 24px;
}
}

/* MOBILE */
@media only screen and (max-width: 418px) {
.container {
    padding: 0px;
} 
.background-hero {
    display: flex;
        background: url(../img/background-hero-mobile.jpg) no-repeat center;
        background-size: cover;
        z-index: -1;
}
.logo{
    position: absolute;
    width: 100px;
    height: auto;
    left: 24px;
    top: 48px;  
}
.container p{
    position: absolute;
    left: 24px;
    top: 160px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}
.container h1{
    position: absolute;
    width: 360px;
    left: 24px;
    top: 240px;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 800;
    font-size: 24px;
    line-height: 39px;
    color: #F9C200;
    padding: 0;
    margin: 0;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    position: absolute;
    width: 300px;
    height: 20px;
    left: 24px;
    top: 408px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
} 
input[type="email"] {
    position: absolute;
    width: 296px;
    height: 41px;
    left: 24px;
    top: 460px;
    background: #FFFFFF;
    border-radius: 16px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-left: 12px
}
input[type="email"]::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #c5c5c5;
}
button[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    position: absolute;
    left: 24px;
    top: 514px;
    color: #FFFFFF;
    background: #A80000;
    border-radius: 16px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background: #F9C200;
    color: #A80000;
    cursor: pointer;
}

/*Funcionalities*/
.funcionalities h2{
    
    left: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}
.mockup {
    width: 308px;
    height: auto;
    padding-top: 32px;
    align-items: center;
}   
.funcionalities h3{
position: absolute;
width: 238px;
height: 29px;
left: 23px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #A80000;
padding: 0;
margin: 0;
}   
.funcionalities ul{
    position: absolute;
    width: 309px;
    height: 482px;
    left: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    color: #830202; 
margin: 0;
padding: 48px 0px 0px 0px ;
}

    
}