/* Reset de margem e padding */
body {
    margin: 0;
    padding: 0;
    background-color: #F9C200;
}

/* Background-hero */
.background-hero {
    background: url(../img/background-hero.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
    align-items: center;
    justify-content: center; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px;
}

/* Logomarca week food */
.logo{
    position: absolute;
    width: 125px;
    height: 141.75px;
    left: 9.03%;
    top: 66px;
}

/* mais qualidade na sua alimentação... */
.container p{
    position: absolute;
    left: 9.03%;
    top: 220px;
    bottom: 83.68%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    color: #FFFFFF;
}

/* Chega de fastfood todo dia, a weekFood vai te ajudar! */
.container h1{
    position: absolute;
    left: 9.03%;
    top: 45%;
    bottom: 75.48%;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 800;
    font-size: 44.8276px;
    line-height: 55px;
    color: #F9C200;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* label do imput */
label {
    position: absolute;
    width: 452px;
    height: 20px;
    left: 9.03%;
    top: 580px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
  
input[type="email"] {
    position: absolute;
    width: 316px;
    height: 41px;
    left: 9.03%;
    top: 620px;
    background: #FFFFFF;
    border-radius: 16px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-left: 12px
}

input[type="email"]::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #c5c5c5;
}

button[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    position: absolute;
    left: 480px;
    top: 620px;
    color: #FFFFFF;
    background: #A80000;
    border-radius: 16px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background: #F9C200;
    color: #A80000;
    cursor: pointer;
}


.mockup {
position: absolute;
width: auto;
height: 672px;
left: 276px;
padding-top: 24px;

}
.funcionalities h2{
    position: absolute;
    width: 638px;
    height: 82px;
    left: 724px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 33.8013px;
    line-height: 41px;
    color: #FFFFFF;
}

.funcionalities h3{
    position: absolute;
    width: 317px;
    height: 39px;
    left: 724px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #A80000;
    padding-top: 120px;
}

.funcionalities ul{
    position: absolute;
    width: 364px;
    height: 520px;
    left: 706px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    padding-top: 200px;
    color: #830202;  
}







@media (max-width: 768px) {
.background-hero {
    background: url(../img/background-hero-tablet.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
    align-items: center;
    justify-content: center; 
}  

}

@media (max-width: 480px) {
.background-hero {
        background: url(../img/background-hero-mobile.jpg);
        background-size: cover;
        position: relative;
        width: 100%;
        height: 100vh;
        top: 0;
        z-index: -1;
        align-items: center;
        justify-content: center; 
}    
}